body {
  background-color: #E5E1DA;
  color: #606060;
  user-select: none;
}
li {
  list-style-type: none;
  position: relative;
  margin: 1px;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #AC726E;
  font-family: Raleway;
  cursor: row-resize;
  overflow: hidden;
  color: #E2DBD1;
  white-space: nowrap;
  padding-left: 10px;
}
ul {
  padding-left: 0px;
}
li.done {
  background: #77AC6E;
  color: #6B6B6B;
  text-decoration: line-through;
  overflow: hidden;
}
p {
  position: relative;
  margin: 1px;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #A2A2A2;
  cursor: row-resize;
  overflow: hidden;
  color: #FFFFFF;
  padding-left: 10px;
}
p#del {
  background: #AC726E;
  cursor: pointer;
}
p#del.on {
  background: #77AC6E;
  cursor: pointer;
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
::selection {
  background-color: #585858;
  border-radius: 25px;
  color: #FFFFFF;
}
h1 {
  background: #DCD6CD;
  padding: 10px;
  white-space: nowrap;
}
button {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #606060;
  padding: 5px;
  background: #DCD6CD;
  width: 24.5%;
}
input {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #606060;
  padding: 5px;
  background: #DCD6CD;
  color: #606060;
  width: 24.55%;
}
input:focus {
  outline:none !important;
}
button:focus {
  outline:none !important;
}
p.normal {
  cursor: default;
  background-color: #E5E1DA;
}
::placeholder {
  color: #606060;
}

:-ms-input-placeholder {
  color: #606060;
}

::-ms-input-placeholder {
  color: #606060;
}
.share {
    font-weight: bold;
    position: relative;
}
.share:before {
    content: ".";
    font-size: 2.2em;
    position: absolute;
    bottom: -2.5px;
    left: -4px;
}
.share:after {
    content: ":";
    font-size: 2em;
    position: absolute;
    bottom: -6px;
    right: -7px;
}
#sharetxt {
  font-weight: bold;
  cursor: pointer;
}
